repos:
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: \.(svg|pyc)$
    args:
    - --write-changes
- repo: https://github.com/nim65s/pre-commit-sort
  rev: v0.4.0
  hooks:
  - id: pre-commit-sort
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.2
  hooks:
  - id: clang-format
    args:
    - --style=Google
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: trailing-whitespace
